<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Search</title>
    <h1>Book Information</h1>
</head>
<body>
    <table border="1">
        <tr>
            <th>名称</th>
            <th>作者</th>
            <th>出版社</th>
            <th>ISBN</th>
            <th>类别</th>
            <th>描述</th>
            <th>价格</th>
            <th>剩余数量</th>
            <th>创建时间</th>

        </tr>
        {% for book in books %}
        <tr>
            <td>{{ book.名称 }}</td>
            <td>{{ book.作者 }}</td>
            <td>{{ book.出版社 }}</td>
            <td>{{ book.ISBN }}</td>
            <td>{{ book.类别 }}</td>
            <td>{{ book.描述 }}</td>
            <td>{{ book.价格 }}</td>
            <td>{{ book.剩余数量 }}</td>
            <td>{{ book.创建时间 }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>