<table border="1">
    <tr>
        <th><form action="../">
            <input type="submit" value="home">
            </form>
        </th>
        <th><form action="../search/">
            <input type="submit" value="Search">
            </form>
        </th>
        <th><form action="../account_create/">
            <input type="submit" value="Create Account">
            </form>
        </th>
        <th><form action="../login/">
            <input type="submit" value="Login">
            </form>
        </th>
        <th><form action="../helpi/">
            <input type="submit" value="About Us/Help">
            </form>
        </th><th><form action="../shopping_basket/">
            <input type="submit" value="Shopping Basket">
            </form>
        </th><th><form action="../checkout/">
            <input type="submit" value="Checkout">
            </form>
        </th>
        </th><th><form action="../logout/">
            <input type="submit" value="Logout">
            </form>
        </th>
    </tr>
</table>
    
<h1>Help/Information<h1>
<form action="../FAQ">
<br>
<input type="submit" value="F.A.Q">
</form>

<form action="../system">
<br>
<input type="submit" value="System">
</form>

<form action="../contact">
<br>
<input type="submit" value="Contact">
</form>