<table border="1">
    <tr>
        <th><form action="../">
            <input type="submit" value="home">
            </form>
        </th>
        <th><form action="../search/">
            <input type="submit" value="Search">
            </form>
        </th>
        <th><form action="../account_create/">
            <input type="submit" value="Create Account">
            </form>
        </th>
        <th><form action="../login/">
            <input type="submit" value="Login">
            </form>
        </th>
        <th><form action="../helpi/">
            <input type="submit" value="About Us/Help">
            </form>
        </th><th><form action="../shopping_basket/">
            <input type="submit" value="Shopping Basket">
            </form>
        </th><th><form action="../checkout/">
            <input type="submit" value="Checkout">
            </form>
        </th>
        </th><th><form action="../logout/">
            <input type="submit" value="Logout">
            </form>
        </th>
    </tr>
</table>

<h1>System<h1>

